.form-group {
    margin: $group-margin;
    & > label {
        color: $label-color;
        font-weight: $label-font-weight;
        font-size: $label-font-size;
        margin: $label-margin;
        display: block;
    }
}

.form-control {
    border: $input-border;
    font-size: $input-font-size;
    padding: $input-padding;
    height: unset;
    background-color: $input-bg-color;
    transition: all .3s ease-in-out;
    border-radius: $input-border-radius;
    color: $input-color;
    &::placeholder {
        color: $input-placeholder-color;
    }
    &:focus {
        color: $input-color;
        border: $input-focus-border;
        box-shadow: $input-focus-box-shadow;
    }
    &.form-control-lg {
        padding: $input-lg-padding;
        font-size: $input-lg-font-size;
    }
    &.form-control-sm {
        padding: $input-sm-padding;
        font-size: $input-sm-font-size;
    }
    &.is-invalid {
        border: $input-invalid-border;
        border-color: $input-invalid-props-color !important;
        background-image: $input-invalid-icon !important;
        &:focus {
            border-color: $input-invalid-props-color;
            box-shadow: $input-invalid-box-shadow;
        }
        ~.invalid-feedback {
            color: $input-invalid-props-color;
        }
    }
    &.is-valid {
        border: $input-valid-border;
        border-color: $input-valid-props-color !important;
        &:focus {
            border-color: $input-valid-props-color;
            box-shadow: $input-valid-box-shadow;
        }
        ~.valid-feedback {
            color: $input-valid-props-color;
        }
    }
}

.custom-control {
    .custom-control-input {
        -ms-transform: scale(1.4); /* IE */
        -moz-transform: scale(1.4); /* FF */
        -webkit-transform: scale(1.4); /* Safari and Chrome */
        -o-transform: scale(1.4); /* Opera */
        transform: scale(1.4);
        padding: 10px;
    }
    .custom-control-input:checked~.custom-control-label::before {
        border-color: $custom-input-checked-color;
        background-color: $custom-input-checked-color;
    }
    .custom-control-input:active~.custom-control-label::before {
        border-color: rgba($custom-input-checked-color, .5);
        background-color: rgba($custom-input-checked-color, .5);
    }
    .custom-control-input:focus~.custom-control-label::before {
        border-color: rgba($custom-input-checked-color, .5);
        // background-color: rgba($custom-input-checked-color, .5);
        box-shadow: 0 0 0 0.2rem rgba($custom-input-checked-color, .5) !important;
    }
    // validation
    .custom-control-input.is-invalid~.custom-control-label {
        color: unset;
        &::before {
            border-color: color('danger');
        }
    }
    .custom-control-input.is-invalid~.invalid-feedback {
        color: color('danger');
        padding-left: 18px;
    }

    .custom-control-label {
        cursor: pointer;
        font-size: $custom-label-font-size !important;
        padding: $custom-label-padding !important;
        &::before, &::after {
            width: $custom-input-size !important;
            height: $custom-input-size !important;
            box-shadow: $custom-input-box-shadow !important;
            border-color: $custom-input-unchecked-color;
        }
        
    }
    
}


.input-group {
    position: relative;
    z-index: 1;
    &.input-group-password {
        .input-group-append {
            cursor: pointer;
        }
    }
    .form-control {
        z-index: -1;
        border-radius: $input-border-radius !important;
    }
    .input-group-prepend {
        z-index: 4;
        display: inline-flex;
        position: absolute;
        background-color: transparent;
        top: 0; left: 0; bottom: 0;
        align-items: center; justify-content: center;
        .input-group-text {
            font-size: 1.4rem;
            background-color: transparent;
            border: 0;
            height: 100%;
            padding: 0 20px;
        }
    }
    .input-group-prepend~.form-control {
        padding-left: 50px;
    }
    .input-group-append {
        z-index: 4;
        display: inline-flex;
        position: absolute;
        background-color: transparent;
        top: 0; right: 0; bottom: 0;
        align-items: center; justify-content: center;
        .input-group-text {
            font-size: 1.4rem;
            background-color: transparent;
            border: 0;
            height: 100%;
            padding: 0 20px;
        }
    }
    .input-group-append~.form-control {
        padding-right: 50px;
    }
}